* {
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  font-family: "Assistant", sans-serif;
}

label {
  color: #212121; /* Grey 900 */
  display: block;
  padding: 2px;
}

p {
  color: #212121; /* Grey 900 */
  line-height: 1.625;
}

pre {
  display: inline;
  font-size: large;
  line-height: 1.625;
  background-color: lightseagreen;
  cursor: pointer;
  user-select: all;
  margin-left: 0.25rem;
}
